image: mcr.microsoft.com/playwright/python:v1.40.0-jammy

variables:
  # Это ускорит установку
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

test:
  script:
    - pip install -r requirements.txt
    - playwright install chromium
    - pytest
  artifacts:
    when: always
    paths:
      - allure-results/