name: Automated Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Install Playwright Browsers
      run: playwright install chromium

    - name: Run Tests
      run: pytest --headless --alluredir=allure-results
   
    - name: Run Tests
      run: pytest --headless

    - name: Upload Screenshots
      if: failure() # Этот шаг сработает только если тесты упали
      uses: actions/upload-artifact@v4
      with:
        name: failure-screenshots
        path: screenshots/
        retention-days: 5