name: Automated Tests

# Когда запускать?
# on: push - при каждом пуше кода в репозиторий
# on: pull_request - если кто-то (или ты) делает пул-реквест
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest # Тесты побегут на виртуальной машине с Linux

    steps:
    # 1. Скачиваем твой код на виртуальную машину
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Настраиваем Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    # 3. Устанавливаем библиотеки из requirements.txt
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Устанавливаем браузеры Playwright
    - name: Install Playwright Browsers
      run: playwright install chromium

    # 5. Запускаем тесты
    # --headless означает, что браузер запустится без графического интерфейса (обязательно для серверов)
    - name: Run Tests
      run: pytest --headless

    # 6. (Бонус) Сохраняем отчет, если тесты упали или прошли
    # Это позволит скачать логи прямо из GitHub
    - name: Upload Test Artifacts
      if: always() # Выполнить этот шаг, даже если тесты упали
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: test-results/ # Playwright по дефолту кладет сюда скриншоты падений
<<<<<<< HEAD
        retention-days: 7
=======
        retention-days: 7
>>>>>>> 43651e2136e668400a40cb59b0230afad7c8295b
